USE [master]
GO
/****** Object:  Database [MyHotel]    Script Date: 31/12/2023 11:59:56 SA ******/
CREATE DATABASE [MyHotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyHotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyHotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyHotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyHotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyHotel]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 31/12/2023 11:59:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](250) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[nationality] [varchar](250) NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[dob] [varchar](50) NOT NULL,
	[idproof] [varchar](250) NOT NULL,
	[address] [varchar](350) NOT NULL,
	[checkin] [varchar](250) NOT NULL,
	[checkout] [varchar](250) NULL,
	[chekout] [varchar](250) NULL,
	[roomid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 31/12/2023 11:59:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[ename] [varchar](250) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[emailid] [varchar](120) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[pass] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 31/12/2023 11:59:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[ratingid] [int] IDENTITY(1,1) NOT NULL,
	[roomid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[rating] [varchar](255) NOT NULL,
	[comment] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ratingid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 31/12/2023 11:59:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[roomid] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](250) NOT NULL,
	[roomType] [varchar](250) NOT NULL,
	[bed] [varchar](250) NOT NULL,
	[price] [bigint] NOT NULL,
	[booked] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ('NO') FOR [chekout]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('NO') FOR [booked]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[rooms] ([roomid])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_cid] FOREIGN KEY([cid])
REFERENCES [dbo].[customer] ([cid])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_cid]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_roomid] FOREIGN KEY([roomid])
REFERENCES [dbo].[rooms] ([roomid])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_roomid]
GO
USE [master]
GO
